
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
      @apply font-comfortaa;
    }
  }
  /* Hide scrollbar while retaining scroll functionality */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* For IE and Edge */
  scrollbar-width: none; /* For Firefox */
}
